<div class="wrapper">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Simple Library</span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="/books">Books</a>
        <a mat-list-item routerLink="/authors">Authors</a>
        <a mat-list-item routerLink="/publishers">Publishers</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
