<div mat-dialog-title>
  <h1>Livro</h1>
</div>

<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content class="content">
    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex: O Senhor dos Anéis"
          formControlName="title"
        />
      </mat-form-field>

      <div
        *ngIf="
          bookForm.controls['title'].invalid &&
          bookForm.controls['title'].touched &&
          bookForm.controls['title'].dirty
        "
        class="error"
      >
        <mat-error>{{ getErrorMessage("title") }}</mat-error>
      </div>
    </div>

    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>ISBN</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex: 978-3-16-148410-0"
          formControlName="isbn"
        />
      </mat-form-field>
      <div
        *ngIf="
          bookForm.controls['isbn'].invalid &&
          bookForm.controls['isbn'].touched &&
          bookForm.controls['isbn'].dirty
        "
        class="error"
      >
        <mat-error>{{ getErrorMessage("isbn") }}</mat-error>
      </div>
    </div>

    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Ano de publicação</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ex: 1954"
          formControlName="publicationYear"
        />
      </mat-form-field>

      <div
        *ngIf="
          bookForm.controls['publicationYear'].invalid &&
          bookForm.controls['publicationYear'].touched &&
          bookForm.controls['publicationYear'].dirty
        "
        class="error"
      >
        <mat-error>{{ getErrorMessage("publicationYear") }}</mat-error>
      </div>
    </div>

    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Quantidade</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ex: 10"
          formControlName="quantity"
        />
      </mat-form-field>

      <div
        *ngIf="
          bookForm.controls['quantity'].invalid &&
          bookForm.controls['quantity'].touched &&
          bookForm.controls['quantity'].dirty
        "
        class="error"
      >
        <mat-error>{{ getErrorMessage("quantity") }}</mat-error>
      </div>
    </div>

    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Gênero</mat-label>
        <mat-select formControlName="genre">
          <mat-option value="fantasy">Fantasia</mat-option>
          <mat-option value="romance">Romance</mat-option>
          <mat-option value="adventure">Aventura</mat-option>
        </mat-select>
      </mat-form-field>

      <div
        *ngIf="
          bookForm.controls['genre'].invalid &&
          bookForm.controls['genre'].touched &&
          bookForm.controls['genre'].dirty
        "
        class="error"
      >
        <mat-error>{{ getErrorMessage("genre") }}</mat-error>
      </div>
    </div>

    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Autor</mat-label>
        <mat-select formControlName="author">
          <mat-option value="jrr">J. R. R. Tolkien</mat-option>
          <mat-option value="jk">J. K. Rowling</mat-option>
          <mat-option value="cs">C. S. Lewis</mat-option>
        </mat-select>
      </mat-form-field>

      <div
        *ngIf="
          bookForm.controls['author'].invalid &&
          bookForm.controls['author'].touched &&
          bookForm.controls['author'].dirty
        "
        class="error"
      >
        <mat-error>{{ getErrorMessage("author") }}</mat-error>
      </div>
    </div>

    <div class="form-field-container">
      <mat-form-field appearance="outline">
        <mat-label>Editora</mat-label>
        <mat-select formControlName="publisher">
          <mat-option value="martins">Martins Fontes</mat-option>
          <mat-option value="rocco">Rocco</mat-option>
          <mat-option value="saraiva">Saraiva</mat-option>
        </mat-select>
      </mat-form-field>

      <div
        *ngIf="
          bookForm.controls['publisher'].invalid &&
          bookForm.controls['publisher'].touched &&
          bookForm.controls['publisher'].dirty
        "
        class="error"
      >
        <mat-error>{{ getErrorMessage("publisher") }}</mat-error>
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="actions">
    <button mat-raised-button [mat-dialog-close]="false" type="button">
      Cancelar
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [mat-dialog-close]="true"
    >
      {{ data ? "Atualizar" : "Adicionar" }}
    </button>
  </div>
</form>
